.textOne{
    font-size: 40px;
    font-weight: 600;
}
.textTwo{
    color: #4CAF4F;
}
.mainBoard{
    background-color: #F5F7FA;
    display: flex;
    flex-direction: column;
}
.miniBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    gap: 60px;
}
.threeDot{
    display: flex;
    justify-content: center;
    gap: 5px;
    /*height: 10vh;*/
    /*width: 5px;*/
}


@media screen and (max-width: 760px) {
    .heroImage{display: none}

}
